@model MyEshop.DomainClass.User
@using MyEshop.Utility

@{
    ViewBag.Title = "حذف کاربر";
}

<h2 style="padding-top:10px;">حذف کاربر</h2>

<h3>آیا از حذف "@Model.UserName" اطمینان دارید ؟</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.UserRole.RoleTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserRole.RoleTitle)
        </dd>
        <hr />

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <hr />

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <hr />

        <dt>
            @Html.DisplayNameFor(model => model.RegisterDate)
        </dt>

        <dd>
            @Model.RegisterDate.ToStringShamsiDate()
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-danger" />
            <a href="@Url.Action("Index")" class="btn btn-primary">بازگشت به لیست</a>
        </div>
    }
</div>
