@model MyEshop.DomainClass.ProductComment

@using (Ajax.BeginForm("CreateComment", "Products", FormMethod.Post, new AjaxOptions()
    {
        OnSuccess = "SuccessComment",
        UpdateTargetId = "listComment"
    }))
@*@using (Html.BeginForm("CreateComment", "Products", FormMethod.Post))*@
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ProductId)
    @Html.HiddenFor(model => model.ParentId)

    <div class="col-md-12">
        @Html.TextAreaFor(model => model.Comment, new { @class = "form-control", placeholder = "متن دیدگاه" })
        @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
        <input class="btn btn-primary" value="ثبت دیدگاه ارزشمند شما" type="submit">
    </div>
    <div class="clearfix"></div>
}


