@model IEnumerable<MyEshop.DomainClass.ProductBrand>

@{
    ViewBag.Title = "لیست برند ها";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="padding-top:10px;">لیست برندها</h2>

<p>
    <a onclick="btnCreate()" class="btn btn-success">افزودن برند جدید</a>
</p>
<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BrandTitle)
        </th>
        <th>دستورات</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrandTitle)
            </td>
            <td>
                <a href="@Url.Action("EditBrand","ManageProducts", new { id = item.BrandId})" class="btn btn-warning">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                @if (!item.IsDelete)
                {
                    <a data-remodal-target="modal" onclick="DeleteProductBrand(@item.BrandId)" class="btn btn-danger">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                }
                else
                {
                    <a data-remodal-target="modal" onclick="ReturnProductBrand(@item.BrandId)" class="btn btn-success">
                        <i class="glyphicon glyphicon-repeat"></i>
                    </a>
                }
            </td>
        </tr>
    }

</table>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" id="myModalHeader">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body" id="myModalBody">
                
            </div>
        </div>
    </div>
</div>

@* Remodal *@
<div class="remodal" data-remodal-id="modal">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h1>احتیاط</h1>
    <p>
        آیا از عملیات مورد نظر اطمینان دارید؟
    </p>
    <br>
    <button data-remodal-action="confirm" class="remodal-confirm">بله</button>
    <button data-remodal-action="cancel" class="remodal-cancel">خیر</button>
</div>

@section Scripts{
    <script>
        function btnCreate() {
            $.get("/Admin/ManageProducts/CreateBrand",
                function result() {
                    $("#myModal").modal();
                    $("#myModalLabel").html("افزودن برند");
                    /*$("#myModalHeader");*/
                    $("#myModalBody").html(result);
                });
        }
    </script>
}